[package]
name = "mcfly"
version = "0.5.13"
authors = ["Andrew Cantino <cantino@users.noreply.github.com>"]
edition = "2018"
description = "McFly replaces your default ctrl-r shell history search with an intelligent search engine that takes into account your working directory and the context of recently executed commands. McFly's suggestions are prioritized in real time with a small neural network."
license = "MIT"
repository = "https://github.com/cantino/mcfly"
exclude = [
  "HomebrewFormula",
  "HomebrewFormula/*",
  "pkg/*",
  "docs/*",
]

[profile.release]
lto = true

[profile.dev]
debug = true

[dependencies]
chrono = "0.4.19"
clap = "2.33"
csv = "1"
dirs = "2.0"
humantime = "2.1.0"
itertools = "0.9.0"
libc = "0.2"
rand = "0.7"
regex = "1"
relative-path = "1.0"
shellexpand = "2.0"
termion = "1.5.5"
unicode-segmentation = "1.6"

[dependencies.rusqlite]
version = "0.15.0"
features = ["bundled", "functions", "unlock_notify"]
